%table
  %tr
    %td
      .label.top= t(:maxlength)
      = f.text_field :maxlength
    %td= spacer
    %td
      .label.top
        = f.check_box :required
        = f.label t(:required)
        %br
        = f.check_box :disabled
        = f.label t(:disabled)
  %tr
    %td
      = f.label t(:hint), :class => "label top"
      = f.text_field :hint
    %td= spacer
    %td
      = f.label t(:placeholder), :class => "label top"
      = f.text_field :placeholder
